:root {
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  /* color */
  --accent: #0668fd;
  --black: #000000;
  --white: #ffffff;
  --alice-blue: #eff3fc;
  --gray: #8f8f8f;
  --dark: #181c1f;

  --gap-x: #{rem(24px)};
  --mgap-x: #{rem(16px)};

  --radius-sm: #{rem(8px)};
  --radius-md: #{rem(12px)};
  --radius-lg: #{rem(16px)};
  --radius-xl: #{rem(24px)};
  --radius-rounded: #{rem(9999px)};
}
