@import '@styles/_root';
@import '@styles/_reset';

@import './components/*/style.module.scss';

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: $font-family-base;
  color: $dark;
  background: $aliceBlue;
}

/* width */
::-webkit-scrollbar {
  width: rem(3px);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $aliceBlue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $white;
}
